<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neweasesoft.datahub.datasource.web.mapper.DatasourceTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.neweasesoft.datahub.common.domain.entity.DatasourceType">
        <id column="id" property="id" />
        <result column="data_type" property="dataType" />
        <result column="data_classify_id" property="dataClassifyId" />
        <result column="weight" property="weight" />
        <result column="img_url" property="imgUrl" />
        <result column="sorted" property="sorted" />
        <result column="invisible" property="invisible" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, data_type, data_classify_id, weight, img_url, sorted, `invisible`, is_deleted, create_time, update_time, create_by, update_by
    </sql>

</mapper>
